@model WebApplication.Infrastructure.ViewModels.FeedViewModels.FeedPostViewModel

@*<form asp-area="Feed" asp-controller="Feed" asp-action="PublishedPost" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StatusType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StatusType" asp-items="@(new SelectList(@ViewBag.StatusType,"Id","TypeName") )"></select>
                <span asp-validation-for="StatusType" class="text-danger"></span>
            </div>
        </div>
          
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>*@




<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-area="Feed" asp-controller="Feed" asp-action="PublishedPost" method="post">
                <div class="row tn-post-row">
                    <div class="col-md-1">
                        <div class="tn-profile-photo">

                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="tn-post-textarea">
                            <textarea asp-for="Text" class="tn-textarea" placeholder="Whats on your mind?" required>
                        
                        </textarea>
                            
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                        @*<div class="tn-upload">
                        <input type="file" name="name" value="" />
                    </div>*@
                        <div class="tn-post-type-selection">

                            <span>
                                <select asp-for="StatusType" asp-items="@(new SelectList(@ViewBag.StatusType,"Id","TypeName") )" required>
                                    <option selected disabled>
                                        I need help from..
                                    </option>
                                </select>
                                <span asp-validation-for="StatusType" class="text-danger"></span>
                            </span>
                        </div>
                    </div>


                </div>
                <ul class="tn-add-info">
                    <li>
                        <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Add Photo">
                            <i class="fa fa-file-photo-o">

                            </i>
                            <input type="file" name="name" value="" class="hidden" />
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add Location">
                            <i class="fa fa-location-arrow"></i>
                        </a>
                    </li>
                    <li class="pull-right">
                        <button type="submit"> Post</button>
                    </li>
                </ul>
                </form>
                </div>
        <div class="col-md-3"></div>
    </div>
