@model List<WebApplication.Core.Domains.Feed.FeedItem>


@foreach (var item in Model)
{

    <div class="panel panel-default">
        <div class="panel-heading mi-hi-40">
            <span class="pull-left">
                @item.Type
            </span>
            <span class="pull-right">
                @item.PublishedDate
            </span>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                   @item.Text
                </div>
            </div>
            <div class="row">

            </div>

        </div>
    </div>
    <div class="panel-footer mi-hi-40">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-10">
        </div>

    </div>
}
