@model List<WebApplication.Core.Domains.Feed.Comment>


@foreach (var item in Model)
{
   <span>Comment Setion here</span>
    <ul class="comments">
        <div class="comments-box">
            <li class="tn-cmt-name">@item.UserId</li>
            <li class="tn-cmt">
                
              @item.Text  
            </li>
        </div>

    </ul>


}

