
@model WebApplication.Core.Domains.Feed.Comment
      <li class="comments-box">
        <div class="tn-cmt-name">@Model.StatusId</div>
        <div class="tn-cmt">

            @Model.Text
        </div>
    </li>