@model WebApplication.Infrastructure.ViewModels.FeedViewModels.CommentViewModel

<li>
    <form asp-area="Feed" asp-controller="Feed" asp-action="PublishComment" method="post">
        <input type="hidden" asp-for="StatusId" />

        <textarea class="form-control" asp-for="Text"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
        <div>
            <button type="submit" class="tn-btn">Comment</button>
        </div>
        



    </form>
</li>


        </ul>
    
<div class="col-md-3"></div>
</div>

@*<form asp-area="Feed" asp-controller="Feed" asp-action="PublishComment" method="post">
    <div class="row tn-post-row">
        <input type="hidden" asp-for="StatusId" />
        <div class="col-md-11">
            <div class="tn-post-textarea">
                <textarea asp-for="Text" class="tn-textarea" placeholder="Whats on your mind?">
                        </textarea>

                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        
        </div>
        
    </div>
    <ul class="tn-add-info">
     
        <li class="pull-right">
            <button type="submit"> Post</button>
        </li>
    </ul>
</form>*@

@*<li>
    <form asp-area="Feed" asp-controller="Feed" asp-action="PublishComment" method="post" class="tn-form">

        <textarea class="form-control"></textarea>
        <button type="submit" class="tn-btn">Comment</button>



    </form>
</li>*@


        @*</ul>
    </div>
<div class="col-md-3"></div>
</div>*@