
@model WebApplication.Core.Domains.Feed.Comment
      <ul class="comments">
        <div class="comments-box">
            <li class="tn-cmt-name"></li>
            <li class="tn-cmt">
                
              @Model.Text 
            </li>
        </div>
        </ul>
@Model.Text
