@*@model WebApplication.Core.Domains.Feed.Comment*@

<form asp-action="PublishComment" method="post">

    <textarea asp-for="Text" class="form-control"></textarea>
    <button type="submit" class="tn-btn">Comment</button>

</form>