<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoTension</title>

    <environment names="Development">

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/main.css" />

        <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />

        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/master.css" />
        <link href="~/css/admin.min.css" rel="stylesheet" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/master.css" />
        <link href="~/css/admin.min.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <ul class="tn-sidebar">
        <li class="title">
            M<span>ahesh Sunuwar</span>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-home"></i>
                <span>Home</span>
                <span class="fa fa-caret-down"></span>
               
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user">
                </i>
                    <span>Profile</span>
                    <span><i class="fa fa-caret-down"></i></span>
               
            </a>
        </li>


    </ul>
    @*<ul class="tn-sidebar">
            <li class="header">Navigation</li>
            <!-- Optionally, you can add icons to the links -->
            <li id="menu-dashboard"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-tv"></i><span>Home</span></a></li>
            <li id="menu-catalog" class="treeview">
                <!-- catalog tree bar -->
                <a href="#">
                    <i class="fa fa-book"></i> <span>Admin</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a id="menu-admin-user" asp-controller="#" asp-action="List"><i class="fa fa-circle-o"></i><span>User</span></a></li>
                    <li><a id="menu-admin-role" asp-controller="#" asp-action="List"><i class="fa fa-circle-o"></i><span>Role</span></a></li>
                    <li><a id="menu-admin-statustype" asp-controller="#" asp-action="List"><i class="fa fa-circle-o"></i><span>Status Type</span></a></li>
                    <li><a id="menu-admin-messaetemplateg" asp-controller="#" asp-action="List"><i class="fa fa-circle-o"></i><span>Message Template</span></a></li>
                </ul>
            </li>
            <!-- sales tree bar -->
            <li id="menu-sale" class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Setting</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a id="menu-sale-orders" asp-controller="#" asp-action="List"><i class="fa fa-circle-o"></i><span>Privacy</span></a></li>
                </ul>
            </li>
        </ul>*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="tn-nav">
                    <li class="expand">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    @*<li class="close">
                        <a href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>*@
                    <div class="tn-login">
                        <li>asd</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="tn-body-content">
        @RenderSection("Breadcrumbs", required: false)
        @RenderBody()
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/js/admin.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
