@using WebApplication.Infrastructure.ViewModels.AccountViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="tn-vp-center">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <ul class="tn-panel">
            <li class="tn-panel-title">
                Register
            </li>
            <li class="form-group">
                <label asp-for="Email" class="control-label sr-only"></label>
                
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                   
             
            </li>
            <li class="form-group">
                <label asp-for="Password" class="control-label sr-only"></label>
                
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                  
            </li>
            <li class="form-group">
                <label asp-for="ConfirmPassword" class="control-label sr-only"></label>
                
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
               
            </li>

            <li class="form-group">
               
                    <button type="submit" class="tn-btn tn-btn-md">Register</button>
               
            </li>
           </ul>
</form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}