@using WebApplication.Infrastructure.ViewModels.AccountViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<div class="page-auth text-center">
    <div class="tn-vp-center">
        <ul class="tn-panel">
            <li class="tn-panel-title">
                Register
            </li>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                <div class="tn-m-b-5">
                    <li class="tn-form-group">
                        <label asp-for="Email" class="control-label sr-only"></label>

                        <input asp-for="Email" class="form-control" placeholder="Email" />

                    </li>
                    <li class="tn-form-group">
                        <label asp-for="Password" class="control-label sr-only"></label>

                        <input asp-for="Password" class="form-control" placeholder="Password" />

                    </li>
                    <li class="tn-form-group">
                        <label asp-for="ConfirmPassword" class="control-label sr-only"></label>

                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />

                    </li>


                </div>
                <li>

                    <button type="submit" class="tn-btn form-control">Register</button>

                </li>

            </form>


        </ul>

    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}